/*
/.**

### not ignore ###
!/.zshrc
!/.zshenv
!/.zprezto
!/.zpreztorc
!/.vimrc
!/.vim/backup
!/.vim/autoload
!/.vim/plugged/.gitkeep
!/.github/**
!/.ideavimrc

!/README.md
!.gitignore
!.gitkeep

!/install.sh
