/*
/.**

### not ignore ###
!/.gitconfig
!/.fzf*
!/.zshrc
!/.zshenv
!/.zprezto
!/.zpreztorc
!/.vimrc
!/.vim/backup
!/.vim/autoload
!/.vim/plugged/.gitkeep
!/.github/**
!/.ideavimrc
!.gitconfig
!/README.md
!/iterm
!.gitignore
!.gitkeep
!/install.sh
