/*
/.**

### not ignore ###
!/.gitconfig
!/.zshrc
!/.zshenv
!/.zprezto
!/.zpreztorc
!/.vimrc
!/.xvimrc
!/.vim/backup
!/.vim/autoload
!/.vim/plugged/.gitkeep
!/.github/**
!/.ideavimrc
!.gitconfig
!/README.md
!/iterm
!/nvim
!.gitignore
!.gitkeep
!/install.sh
