source ~/.vimrc

nnoremap ,s :action FileStructurePopup<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gb :action JumpToLastChange<CR>

nnoremap U :action FindUsages<CR>
nnoremap R :action RenameElement<CR>

nnoremap == :action Macro.FormatCodeOnSave<CR>
vnoremap == :action Macro.FormatCodeOnSave<CR>

nnoremap <C-CR> :action ShowIntentionActions<CR>

nnoremap ,a :action GotoAction<CR>
vnoremap ,a :action GotoAction<CR>

nnoremap <C-b> :action HideAllWindows<CR>
nnoremap <C-c> :action CommentByLineComment<CR>
xnoremap <C-c> :action CommentByLineComment<CR>

nnoremap <C-j> gT
nnoremap <C-k> gt

nnoremap <C-t> :action SearchEverywhere<CR>
nnoremap <C-f> :action FindInPath<CR>
