source ~/.vimrc

nnoremap ,s :action FileStructurePopup<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gp :action VcsShowCurrentChangeMarker<CR>
nnoremap gn :action VcsShowNextChangeMarker<CR>
nnoremap gb :action VcsShowPrevChangeMarker<CR>
nnoremap gu :action Vcs.RollbackChangedLines<CR>
xnoremap go :action Github.Open.In.Browser<CR>
nnoremap go :action Github.Open.In.Browser<CR>

nnoremap U :action FindUsages<CR>
nnoremap R :action RenameElement<CR>

nnoremap == :action Macro.FormatCodeOnSave<CR>
vnoremap == :action Macro.FormatCodeOnSave<CR>

nnoremap <C-CR> :action ShowIntentionActions<CR>

nnoremap ,a :action GotoAction<CR>
vnoremap ,a :action GotoAction<CR>

nnoremap <C-b> :action HideAllWindows<CR>
nnoremap <C-e> :action HideAllWindows<CR>
nnoremap <C-c> :action CommentByLineComment<CR>
xnoremap <C-c> :action CommentByLineComment<CR>

nnoremap <C-j> gT
nnoremap <C-k> gt

nnoremap <C-f> :action SearchEverywhere<CR>
nnoremap <C-g> :action FindInPath<CR>

nnoremap q :action CloseContent<CR>
